<div class="container">
  <h1>
    玩家配置
  </h1>
  <div class="h-45">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="radom()">GO</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="clear()">Clear</button>
  </div>
  <div class="h-45"></div>
  <h3>隨機排序</h3>
  <div class="row">
    <div class="col" *ngFor="let item of viewData ;let idx = index">
      <div class="card" style="width: 8rem;">
        <img class="card-img-top" [src]="item.photo" [alt]="item.name">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="h-45"></div>
</div>
